@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

  body {
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
    
  }
  .movie-list .swiper-initialized {
    height: 600px;
  }
  .banner .swiper {
    height: 100%;
}
}
.dat {
<<<<<<< HEAD
  color: #e6a0db;
}

.color-red {
  color: red;
}
=======
  color: #5748de
}
>>>>>>> 7784724 (card list)
